{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static '/fonts/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/fontawesome/css/font-awesome.min.css' %}">
    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <title>ttj.kspi.uz</title>
    <link rel="shortcut icon" href="{% static '/images/logo1.png' %}" type="image/x-icon">
    
</head>
<body>
    {% if user.is_authenticated %}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark py-2">
            <div class="container">
                <div class="navbar-brand d-flex align-items-center">
                    <img class="d-flex" src="{% static '/images/logo.png' %}" alt="" width="40">
                    <a class="d-block" href="{% url 'home' %}">
                        <div class="logo-word">QDPI Talabalar <br> Turar Joyi</div>
                    </a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle text-white border-0 d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg style="margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        {{user.first_name}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><button class="dropdown-item" type="button">{{user.last_name}} {{user.first_name}}</button></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Chiqish</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END header -->
        <section id="video-qollanma" class="section-cover asosiy-rasm" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row justify-content-center align-items-center intro">
                    <div class="col-md-9 text-center element-animate">
                        <p class="lead mb-5">Online ro'yxatdan o'tish uchun video qo'llanma</p>
                        <div class="btn-play-wrap"><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn-play popup-vimeo "><span class="ion-ios-play"></span></a></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END section -->
        
        <!-- MAIN-CONTENT -->
        <div class="main-content">
            <div class="container">
                <h3 class="mb-3 pt-5 text-center">Ariza yuborish</h3>
                <h4 class="mb-3 text-center">{{data}}</h4>
                <!-- ARIZA -->
                <form enctype="multipart/form-data" method="POST" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}
                    <!-- MANZIL -->
                    <h5 class="text-center mb-0">Doimiy yashash manzili</h5>
                    <div class="col-md-4 col-sm-6">
                        <label for="region" class="form-label">Viloyat</label>
                        <select name="viloyat" id="region" class="form-select" size="1" required aria-label="select example">
                            <option selected="selected" value="" disabled>Viloyat</option>
                        </select>
                        <div class="invalid-feedback">
                            Viloyatingizni tanlang.!
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <label for="district" class="form-label">Tuman</label>
                        <select name="tuman" id="district" class="form-select col-md-4" size="1" required aria-label="select example">
                            <option selected="selected" value="" disabled>Tuman</option>
                        </select>
                        <div class="invalid-feedback">
                            Tumaningizni tanlang.!
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="village" class="form-label">Ko'cha</label>
                        <input name="kocha" type="text" id="village"  class="form-control" placeholder="Ko'cha va uy raqami" required>
                        <div class="invalid-feedback">
                            Ko'changizni kiriting.!
                        </div>
                    </div>
                    
                    <!-- FAKULTET -->
                    <div class="col-md-4 col-sm-6">
                        <label for="fakultet" class="form-label">Fakultet</label>
                        <select name="fakultet" id="fakultet" class="form-select" size="1" required aria-label="select example">
                            <option selected="selected" value="" disabled>Fakultet</option>
                        </select>
                        <div class="invalid-feedback">
                            Fakultetingizni tanlang.!
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <label for="major" class="form-label">Yo'nalish</label>
                        <select name="yonalish" id="major" class="form-select col-md-4" size="1" required aria-label="select example">
                            <option selected="selected" value="" disabled>Yo'nalish</option>
                        </select>
                        <div class="invalid-feedback">
                            Yo'nalishingizni tanlang.!
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="validationCustom04" class="form-label">Kurs</label>
                        <select name="kurs" class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Kurs</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <div class="invalid-feedback">
                            Kursingizni tanlang.!
                        </div>
                    </div>
                    
                    <!-- Passport -->
                    <div class="col-md-4 col-sm-6">
                        <label for="seriya" class="form-label">Passport seriya</label>
                        <input name="pasport_serya" type="text" class="form-control" id="seriya" placeholder="Passport seriya" minlength="2" maxlength="2" required>
                        <div class="invalid-feedback">
                            Passport seriyangizni kiriting.!
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <label for="validationCustom03" class="form-label">Passport raqami</label>
                        <input name="pasport_raqam" type="text" class="form-control" id="validationCustom03" placeholder="Passport raqam" minlength="7" maxlength="7" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
                        <div class="invalid-feedback">
                            Passport raqamingizni kiriting.!
                        </div>
                    </div>                
                    <div class="col-md-4 col-sm-6">
                        <label for="rasm-passport" class="form-label">Passport rasmi (maksimal 4Mb)</label>
                        <input name="pasport_rasm" type="file" accept=".jpg,.jpeg,.png" class="form-control" id="rasm-passport" placeholder="Passport rasmi" required>
                        <div class="invalid-feedback">
                            Passport rasmini yuklang.!
                        </div>
                    </div>
                    
                    
                    <div class="col-12 text-center mb-4">
                        <button class="btn btn-primary" type="submit">Yuborish</button>
                    </div>
                    
                </form>
                
            </div>
        </div>
        
        <!-- Footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-4 mb-3">
                        <h3 class="mb-0">
                            <span>ttj.kspi.uz</span>
                        </h3>
                        <p class="lead">Qo'qon davlat pedagogika instituti talabalar turar joyi uchun online ro'yxatdan o'tish platformasi</p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <h3 class="mb-0">Murojaat uchun telefonlar</h3>
                        <p class="lead mb-0"><a href="tel:+998944482303">+998 94 4482303</a></p>
                        <p class="lead mt-0"><a href="tel:+998912040234">+998 91 2040234</a></p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="mb-0">Biz bilan bog'lanish</h3>
                        <p>Bizning ijtimoiy tarmoqlar</p>
                        <p>
                            <a href="https://www.facebook.com/kspi.official/" class="pl-0 p-3"><span class="fa fa-facebook"></span></a>
                            <a href="https://t.me/ALISHERTTJ" class="p-3"><span class="fa fa-telegram"></span></a>
                            <a href="https://instagram.com/kspi_uz?igshid=MzRlODBiNWFlZA==" class="p-3"><span class="fa fa-instagram"></span></a>
                            <a href="https://www.youtube.com/@qoqondpi296" class="p-3"><span class="fa fa-youtube-play"></span></a>
                        </p>
                    </div>              
                </form>
            </div>
        </div>
        <div class="text-center">
            &copy;QDPI IT-Park
        </div>
    </div>
</footer>
<!-- END footer -->


<!-- The Modal -->
<div id="myModal" class="modal">
    
    <!-- Modal content -->
    <div class="modal-content">
        <h4>Turar joyida yashovchilarning majburiyatlari.</h4>
        <p>
            - yashash xonasidan faqat yashash uchun foydalanishi (boshqa maqsadlarda, kasb yoki tadbirkorlik faoliyatini amalga oshirish  maqsadida foydalanishga  yo‘l qo‘yilmaydi);<br> 
            - o‘z vaqtida va muntazam yotoqxona  ijara haqini to‘lash; <br>
            - institut Ustavi, Ichki tartib qoidalari, TTJ  nizomi, Yong‘in xavfsizligi qoidalari va boshqa lokal normativ hujjatlarni bilishi va qat’iy rioya etishi; <br>
            - yashash xonasini qayta jihozlash, qayta qurish va o‘zgartirishni amalga oshirmaslik; <br>
            - yashash xonasi va foydalanishga topshirilgan jihozlarga zarar yetkazmaslik va ularni butligini saqlash;<br>
            - turar joyida o‘tkaziladigan ommaviy, madaniy, sport va tarbiyaviy tadbirlarda ishtirok etish;<br>
            - turar joyidan uzoq muddatga ketayotib yoki TTJdan tark etishda  (qishki ta’til, dam olish, amaliyot, akademik ta’til olgan hollar), turar joyi rahbarini ikki kun oldin yozma ravishda ogohlantirib qo‘yish;<br>
            - yashab turgan xonasi va boshqa umumiy foydalanish joylarini har doim toza va tartibli tutishga kafolat beraman.  Agar shunday xolatlar yuz bersa talabalar turar joyidan chiqib ketishga roziman. <br>
        </p>
        <h4>Ijara haqi to‘lovi shartlari va hisob-kitob tartibi</h4>
        <p>
            Shartnoma tuzilgan paytda ijara haqi 2023 yil “5” sentyabr – 2024 yil 30 iyun kunlari uchun bazaviy hisoblash miqdorining 5 (besh) baravari 1.650000 (bir million oltiyuz ellik  ming) so‘mni tashkil etadi. <br>
            -Ijarachi to‘lovni Talabalar turar joyiga tavsiya etilgan kundan boshlab 2023 -2024 yillar uchun belgilangan to’lovidan 50 % ni yani  825000 (sakkiyuzi yigirma beshming ) so’m to’lovni institut hisob raqamiga o‘tkazish majburiy. <br>
            -Ijarachi to‘lovni amalga oshirganligi haqidagi to‘lov xujjatlari nusxasini taqdim etganidan so‘ng yashash uchun order beriladi. <br>
        </p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="rozilik" onclick="if(this.checked){myFunction()}">
            <label class="form-check-label" for="rozilik">
                Shartnoma shartlariga rozilik bildiraman.!
            </label>
        </div>
        
        <button id="closed-btn" class="close btn btn-primary p-0">Roziman</button>
    </div>
    
</div>

{% else %}
    <div style="text-align: center;">
        <h1 style="text-align: center; margin:50px;">
            <strong>
                Bunday sahifa mavjud emas 
            </strong> 
        </h1>
        <a class="btn btn-primary" href="{% url 'home' %}">Bosh sahifaga qaytish</a>
    </div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/js/register.js' %}"></script>
</body>
</html>