{{data}}

<h4>arizalar</h4>

<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="text" placeholder="viloyat" name="viloyat">
    <input type="text" placeholder="tuman" name="tuman">
    <input type="text" placeholder="fakultet" name="fakultet">
    <input type="text" placeholder="yonalish" name="yonalish">
    <input type="text" placeholder="kurs" name="kurs">
    <input type="file" placeholder="pasport_rasm" name="pasport_rasm">
    
    
    <button type="submit">saqlash</button>
</form>