{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static '/fonts/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/fontawesome/css/font-awesome.min.css' %}">
    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>ttj.kspi.uz</title>
    <link rel="shortcut icon" href="{% static '/images/logo1.png' %}" type="image/x-icon">
    
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-md navbar-dark py-2">
            <div class="container">
                <div class="navbar-brand d-flex align-items-center">
                    <img class="d-flex" src="{% static '/images/logo.png' %}" alt="" width="40">
                    <a class="d-block" href="{% url 'home' %}">
                        <div class="logo-word">QDPI Talabalar <br> Turar Joyi</div>
                    </a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle text-white border-0 d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg style="margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        {{user.first_name}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><button class="dropdown-item" type="button">{{user.last_name}} {{user.first_name}}</button></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Chiqish</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END header -->
    
    <section id="video-qollanma" class="section-cover asosiy-rasm" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row justify-content-center align-items-center intro">
    
            </div>
        </div>
    </section>
    <!-- END section -->
    
    <!-- MAIN-CONTENT -->
    <div class="main-content">
        <div class="container">
            <h3 class="mb-3 pt-5 text-center">Imtiyoz yuborish</h3>
            <h4 class="mb-3 text-center">{{data}}</h4>
            <!-- ARIZA -->
            <form enctype="multipart/form-data" method="POST" class="row g-3 needs-validation" novalidate>
                {% csrf_token %}
                <div class="col-md-1"></div>
                <div class="col-md-4 col-sm-6">
                    <label for="imtiyoz" class="form-label">Imtiyoz turi</label>
                    <select name="imtiyoz_nomi" class="form-select" id="imtiyoz">
                        <option selected disabled value="">Imtiyoz</option>
                        <option>Chin yetim (Mehribonlik uyi tarbiyalanuvchilari)</option>
                        <option>Nogironlik (1-2-guruh)</option>
                        <option>Ayollar daftari</option>
                        <option>Yoshlar daftari</option>
                        <option>Temir daftar</option>
                    </select>                    
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4 col-sm-6">
                    <label for="imtiyoz-elektron" class="form-label">Imtiyoz elektron varianti (maksimal 4Mb)</label>
                    <input name="imtiyoz_file" type="file" class="form-control" id="imtiyoz-elektron" accept=".jpg,.jpeg,.png">
                </div>  
                <div class="col-md-1"></div> 
                
                <div class="col-12 text-center mb-4">
                    <button class="btn btn-primary" type="submit">Yuborish</button>
                </div>
                
            </form>
            
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-4 mb-3">
                    <h3 class="mb-0">
                        <span>ttj.kspi.uz</span>
                    </h3>
                    <p class="lead">Qo'qon davlat pedagogika instituti talabalar turar joyi uchun online ro'yxatdan o'tish platformasi</p>
                </div>
                <div class="col-md-4 mb-3">
                    <h3 class="mb-0">Murojaat uchun telefonlar</h3>
                    <p class="lead mb-0"><a href="tel:+998944482303">+998 94 4482303</a></p>
                    <p class="lead mt-0"><a href="tel:+998912040234">+998 91 2040234</a></p>
                </div>
                <div class="col-md-4">
                    <h3 class="mb-0">Biz bilan bog'lanish</h3>
                    <p>Bizning ijtimoiy tarmoqlar</p>
                    <p>
                        <a href="https://www.facebook.com/kspi.official/" class="pl-0 p-3"><span class="fa fa-facebook"></span></a>
                        <a href="https://t.me/ALISHERTTJ" class="p-3"><span class="fa fa-telegram"></span></a>
                        <a href="https://instagram.com/kspi_uz?igshid=MzRlODBiNWFlZA==" class="p-3"><span class="fa fa-instagram"></span></a>
                        <a href="https://www.youtube.com/@qoqondpi296" class="p-3"><span class="fa fa-youtube-play"></span></a>
                    </p>
                </div>              
            </form>
        </div>
    </div>
    <div class="text-center">
        &copy;QDPI IT-Park
    </div>
</div>
</footer>
<!-- END footer -->


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="{% static '/bootstrap/js/bundle.min.js' %}"></script>
<script src="{% static '/js/register.js' %}"></script>

<script>
    const inputField = document.getElementById("seriya");
    
    inputField.addEventListener("keyup", function(event) {
        event.preventDefault();
        inputField.value = inputField.value.toUpperCase();
        inputField.value.length = 2;
    });
</script>
</body>
</html>