<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ttj.kspi.uz</title>
</head>
<body>
    <div style="max-width: 21cm; margin-left: 0.7cm; margin-right: 0.3cm;">

        <table>
            <tbody>
                <tr>            
                    
                    <td style='text-align:center; width: 30%;'>
                        <img src="http://shartnoma.kspi.uz/static/img/kspi-logo.png" style="width: 100px; height:auto;">
                    </td>
                    <td style="width: 70%; line-height: 25px;">                        
                        <strong style='margin:0cm;margin-bottom:.001pt;font-size:25px;font-family:"Times New Roman",serif;text-align:center;'>
                            QO`QON DAVLAT PEDAPOGIKA INSTITUTI TALABALAR TURAR JOYIDA YASHASH UCHUN ORDER
                        </strong>                        
                    </td>
                    
                </tr>
                
            </tbody>
        </table>        

        <hr>
        <table style="margin-top: 20px;margin-bottom:20px;">
            <tbody>
                <tr>
                    <td>
                        <strong style="margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:'Times New Roman',serif;">
                            Order id: 
                        </strong> 
                        {{order_id}}
                    </td>
                    <td style="text-align: right;margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:'Times New Roman',serif;">
                        <strong>Sana:</strong> {{hozir}}
                    </td>
                </tr>
            </tbody>
        </table>

        <p style="text-align:center;margin-top: 45px;margin-bottom:20px;font-size:18px;font-family:'Times New Roman',serif;">
            <strong>
                Qo'qon davlat pedagogika instituti talabalar turar joyi haqida ma`lumot 
            </strong>
        </p>
        
        <table style="margin-top: 18px;">
            <tbody>

                <tr>
                    <td style="font-size:15px;font-family:'Times New Roman',serif; width: 67.7%;"><strong>Manzil: </strong>Farg'ona viloyati Qo'qon shahri Turon ko'chasi 23-uy</td>
                    <td style="font-size:15px;font-family:'Times New Roman',serif; width: 33.3%;"><strong>Telefon: </strong> +998735421143</td>                                         
                </tr>

                <tr>
                    <td style="font-size:15px;font-family:'Times New Roman',serif;"><strong>Email: </strong> info@kspi.uz</td> 
                </tr>                          
                
            </tbody>
        </table>
        

        <p style="text-align:center;margin-top: 15px;margin-bottom:15px;font-size:18px;font-family:'Times New Roman',serif;">
            <strong>
                Talaba haqida malumot
            </strong>
        </p>
        
        <table>
            <tbody>

                <tr>
                    <td style="font-size:15px;font-family:'Times New Roman',serif;"><strong>Familiya: </strong>{{familya}}</td>
                    <td style="font-size:15px;font-family:'Times New Roman',serif;"><strong>Ism: </strong>{{ism}}</td>
                </tr>
                <tr>
                    <td style="font-size:15px;font-family:'Times New Roman',serif;"><strong>Otasining ismi: </strong>{{sharif}}</td>
                    <td style="font-size:15px;font-family:'Times New Roman',serif;"><strong>Manzil: </strong>{{manzil}}</td>
                </tr>

                <tr>
                    <td style="font-size:15px;font-family:'Times New Roman',serif;"><strong>Fakultet: </strong>{{fakultet}}</td>
                    <td style="font-size:15px;font-family:'Times New Roman',serif;"><strong>Yo`nalish: </strong>{{yonalish}}</td>
                </tr>
                <tr>
                    <td style="font-size:15px;font-family:'Times New Roman',serif;"><strong>Kurs: </strong>{{kurs}}</td>
                    <td style="font-size:15px;font-family:'Times New Roman',serif;"><strong>TTJ nomer: </strong>{{ttj_nomer}}</td>
                </tr>

                <tr>
                    <td style="font-size:15px;font-family:'Times New Roman',serif;"><strong>Qavat: </strong>{{qavat}}</td>
                    <td style="font-size:15px;font-family:'Times New Roman',serif;"><strong>Xona: </strong>{{xona}}</td>
                </tr>

            </tbody>
        </table>         

      

        

        <table style="margin-top: 78px;">
            <tbody>
                <tr>
                    <td style="width: 55%;font-size:15px;font-family:'Times New Roman',serif;">
                        <strong>
                            Talabalar turar joyida ichki tartib qoidalari va texnika havfsizligi bilan tanishdim
                        </strong>                        
                    </td> 
                    
                    <td style="width: 20%;font-size:15px;font-family:'Times New Roman',serif;">
                        <strong>Imzo: </strong>________
                    </td>
                    <td style="text-align: center; width: 25%;font-size:15px;font-family:'Times New Roman',serif;">
                        {% for r in qrcode_rasm %}                                                      
                            <img height="150px" width="150px" src="{{r.link}}"/>
                        {% endfor %}
                    </td>
                   
                </tr>
                
            </tbody>
        </table>
        
    </div>   
   

</body>
</html>