<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shartnoma</title>
</head>
<body>
    <div style="max-width: 21cm; margin-left:0.7cm;margin-right:0.3cm;">
        <!-- markazda turib qalin yozish -->
        <p style='text-align:center;'>
            <strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:center;text-indent:10.2pt;'>
                TALABALAR TURAR JOYI(TTJ)DA YASHASH UCHUN XONANI IJARAGA BERISH HAQIDA SHARTNOMA
            </strong>
        </p>     

        <p style='text-align: right;'>
            «5» sentabr 2023 y. Qo‘qon shahri
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            Qo‘qon davlat pedagogika instituti (kelgusida institut deb nomlanadi) nomidan rektor 
            D.Xodjaeva   bir   tomondan   va   ikkinchi   tomondan,   Ijarachi   deb   nomlanuvchi 
            F_____I____SH mazkur shartnomani quyidagi mazmunda tuzdilar: 
        </p>
        
        <p style='text-align:center;'>
            <strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:center;text-indent:10.2pt;'>
                1.Shartnoma predmeti 
            </strong>
        </p> 

        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            1.1. Mazkur shartnoma bo‘yicha institut Ijarachiga vaqtincha yashash uchun  «5» sentabr 2023 yildan «30» iyun 2024 yilgacha bo‘lgan davr 
            davomida Qo‘qon davlat pedagogika institutiga qarashli №  –sonli talabalar turar joyidan bitta joy ajratish, ijarachi ajratilgan joyni qabul qilish 
            va unda yashash majburiyatini oladi. Bu haqida topshirish-qabul qilish dalolatnomasi tuzilib, taraflar imzolaydi (ilova-1). 
        </p>

        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            1.2. Ijarachining belgilangan xonaga ko‘chib kirishi va yashashi uchun mazkur shartnoma va institut yo‘llanmasi asos hisoblanadi. 
        </p>

        <!-- markazda turib qalin yozish -->
        <p style='text-align:center;'>
            <strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:center;text-indent:10.2pt;'>
                2. Taraflarning huquqlari va majburiyatlari  
            </strong>
        </p>  

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            2.1. Ijarachining majburiyatlari: 
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            - yashash xonasidan faqat yashash uchun foydalanishi (boshqa maqsadlarda, kasb yoki tadbirkorlik faoliyatini amalga oshirish  maqsadida foydalanishga  yo‘l qo‘yilmaydi);
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            - o‘z vaqtida va muntazam yotoqxona  ijara haqini to‘lash;  
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            - institut Ustavi, Ichki tartib qoidalari, TTJ  nizomi, Yong‘in xavfsizligi qoidalari va boshqa lokal normativ hujjatlarni bilishi va qat’iy rioya etishi;  
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            - yashash xonasini qayta jihozlash, qayta qurish va o‘zgartirishni amalga oshirmaslik;  
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            - yashash xonasi va foydalanishga topshirilgan jihozlarga zarar yetkazmaslik va ularni butligini saqlash; 
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            - zarur hollarda (xona va jihozlarga zarar yetkazilganda) yashash xonasi va jihozlarni  joriy ta’mirlash;   
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            - turar joyida o‘tkaziladigan ommaviy, madaniy, sport va tarbiyaviy tadbirlarda ishtirok etish; 
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            - turar joyidan uzoq muddatga ketayotib yoki TTJdan tark etishda  (qishki ta’til, dam olish, amaliyot, akademik ta’til olgan hollar), turar joyi 
            rahbarini ikki kun oldin yozma ravishda ogohlantirib qo‘yish; 
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            - yashab turgan xonasi va boshqa umumiy foydalanish joylarini har doim toza va tartibli tutish; 
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            2.2. Ijarachining huquqlari:   
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            - mazkur shartnoma asosida institut Ustavi, Ichki tartib qoidalari, TTJ nizomi, Yong‘in xavfsizligi qoidalari va boshqa lokal normativ hujjatlarga 
            rioya qilgan holda,   ko‘rsatilgan muddatda unga biriktirilgan xonada istiqomat qilish va jihozlardan foydalanish;  
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            - o‘rnatilgan tartibda  va texnika xavfsizligiga rioya qilgan holda  elektr jihozlari, sport anjomlari, maydonlari, ARM  va boshqa 
            resurslardan unumli va oqilona foydalanish;  
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            2.3. Institutning majburiyatlari:  
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            -ijarachini TTJdan sanitariya talablariga javob beradigan yashash xonasi bilan ta’minlash;  
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            - avariya holatlarida darhol uni oqibatlarini bartaraf etish va uni oldini olish choralarini ko‘rish ;  
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            - institut Ustavi, Ichki tartib qoidalari, TTJ nizomi, Yong‘in xavfsizligi qoidalari va boshqa lokal normativ hujjatlarda belgilangan boshqa majburiyatlarni bajarish.   
        </p>

        <!-- markazda turib qalin yozish -->
        <p style='text-align:center;'>
            <strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:center;text-indent:10.2pt;'>
                3. Ijara haqi to‘lovi shartlari va hisob-kitob tartibi 
            </strong>
        </p>  

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            3.1. Shartnoma tuzilgan paytda ijara haqi 2023 yil “5” sentabr – 2024 yil 30 iyun kunlari uchun bazaviy hisoblash miqdorining 5 (besh) 
            baravari 1.650000 (bir million oltiyuz ellik  ming) so‘mni tashkil etadi. 
        </p>


        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            3.2. Shartnoma amal qilish muddati davomida bazaviy hisoblash miqdori yoki kommunal xizmatlar uchun tariflar oshgan taqdirda, institut bir tomonlama 
            tartibda ijara haqi miqdorini qayta ko‘rib chiqishi va ijara haqini o‘zgartirishi mumkin.
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            Har o‘quv yili uchun ijara haqi miqdori institut Kengashi qaroriga asosan rektor buyrug‘i bilan tasdiqlanadi. Buyruq nusxasi talabalar turar 
            joyining e’lonlar doskasiga joylashtiriladi. 
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            Ijarachining o‘z vaqtida to‘lov miqdori haqida xabardor bo‘lmaganligi avvalgi miqdorda to‘lovni amalga oshirishiga asos bo‘lmaydi. 
        </p>


        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            3.3. Ijarachi to‘lovni ijara shartnomasi tuzilgan kundan boshlab 3 (uch) ish kunida institut hisob raqamiga o‘tkazish yo‘li bilan amalga oshiradi. 
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            3.4. Ijarachiga to‘lovni amalga oshirganligi haqidagi to‘lov xujjatlari nusxasini taqdim etganidan so‘ng yashash uchun order beriladi. 
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            3.5. Talabalar yozgi ta’til davri (iyul-avgust oylari)ga to‘lov amalga oshirilmaydi. Boshqa qisqa muddatli ta’tillar va amaliyot davri uchun to‘lov amalga oshiriladi.  
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            3.6. Mazkur shartnomada nazarda tutilmagan qo‘shimcha xizmatlar uchun xarajatlar ushbu shartnomaga qo‘shimcha tuzilgan kelishuv asosida belgilanadi.   
        </p>

        <!-- markazda turib qalin yozish -->
        <p style='text-align:center;'>
            <strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:center;text-indent:10.2pt;'>
                5. Tomonlarning javobgarligi  
            </strong>
        </p> 

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            5.1. Mazkur shartnomani bajarmagan yoki lozim darajada bajarmagan tomonlarga nisbatan  O‘zbekiston Respublikasining amaldagi qonunchiligi va 
            boshqa institut lokal hujjatlariga binoan javobgarlik qo‘llaniladi. 
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            5.2. Mazkur  shartnomaning talablariga, institut Ustavi, Ichki tartib qoidalari, Odob-axloq kodeksi, TTJ nizomi, Yong‘in xavfsizligi qoidalari va 
            boshqa lokal normativ hujjatlarga rioya qilmagan  ijarachiga: xayfsan, TTJdan chiqarish, talabalar safidan chiqarish intizomiy jazo choralari qo‘llaniladi. 
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            5.3. Ijarachi quyidagi hollarda TTJdan chiqariladi:   
        </p>


        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            a) yashash xonasidan boshqa maqsadlarda foydalanish (kasb yoki tadbirkorlik faoliyatini amalga oshirishda foydalanish);  
        </p>


        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            b) yashash xonasini o‘zi yoki u taklif qilgan shaxs tomonidan buzilishi yoki shikastlantirilishi;  
        </p>

        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            v) ro‘yxat(propiska)dan o‘tishdan bosh tortishi;  
        </p>


        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            g) birga yashovchilar, qo‘shnilarning birgalikda yashashiga imkoniyat bermaydigan muntazam ravishda ularning huquq va manfaatlarini buzishi; 
        </p>
        
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            d) ikki oydan ortiq muddat davomida ijara to‘lovini amalga oshirmaslik; 
        </p>
        
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            e) ikki oydan ortiq muddat davomida yozma ogohlantirishsiz ijarachining yashamasligi;  
        </p>
        
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            j) spirtli ichimlik yoki giyohvand moddalar suiste’mol qilgan holdaligi;   
        </p>
        
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            z) giyohvand, portlovchi kimyoviy xavfli moddalar yoki sovuq, o‘qotar qurollarni saqlash, tarqatish;  
        </p>
        
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            k) talabalar safidan chetlatilishi;  
        </p>
        
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            l) O‘zbekiston Respublikasining  qonunchiligida nazarda tutilgan boshqa hollarda.  
        </p>
        
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            5.4. Ijara shartnomasi bekor qilingan hollarda ijarachi 3(uch) ish kunida xonani bo‘shatishi, olgan barcha jihozlarni yaroqli va but holatda topshirishi shart. 
            Ijarachi xonani bo‘shatishdan bosh tortgan taqdirda, majburiy tartibda ko‘chiriladi.  
        </p>
         
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            5.5. Ijarachi yashash xonasini shartnomada belgilangan muddatda bo‘shatib bermagan hollarda, muddat o‘tgan kunning ertasidan xonani bo‘shatgan kungacha 
            rektor buyrug‘i bilan belgilangan oshirilgan miqdorda to‘lovni amalga oshiradi.  
        </p>

        <!-- markazda turib qalin yozish -->
        <p style='text-align:center;'>
            <strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:center;text-indent:10.2pt;'>
                6. Boshqa shartlar  
            </strong>
        </p> 
         
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            6.1. Shartnoma yuzasidan nizo va kelishmovchiliklar yuzaga kelganda, dastlab TTJ ma’muriyati va talabalar o‘zini o‘zi boshqarish organi kengash tomonidan, 
            kelishuvga erishilmaganda  institut ma’muriyati va kasaba uyushmasi qo‘mitasi ijarachi ishtirokida ko‘rib chiqiladi.         
        </p>
         
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            6.2. Mazkur shartnoma ijarachining istagiga ko‘ra, har qanday muddatda, institut shartnomaniig 5.3- bandida ko‘rsatilgan asoslarda hamda shartnoma 
            muddati tugaganda bekor qilinishi mumkin.  
        </p>
         
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            6.3. Tomonlardan birining manzili va boshqa rekvizitlari o‘zgargan taqdirda, boshqa tomonni 10 kun ichida xabardor qilishi shart.  
        </p>
         
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            6.4 Ijarachining yashash xonasidagi yo‘qolgan (tilla taqinchoqlar, kompyuter, noutbuk, telefon, pul va x.k) qimat baho buyumlarga TTJ ma’muriyati javob bermaydi.  
        </p>
         
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            6.5. Shartnoma yuzasidan nizo va kelishmovchiliklar o‘zaro muzokara-kelishuvlar asosida hal qilinadi, kelishuvga erishilmaganda, O‘zbekiston Respublikasining 
            amaldagi  qonunchiligi asosida fuqarolik ishlari bo‘yicha Qo‘qon tumanlararo sudida hal etiladi.  
        </p>
         
        <!-- abzasdan yozish -->
        <p style='margin-left:1cm;margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:left;text-indent:10.2pt;'>
            6.6. Shartnoma teng yuridik kuchga ega bo‘lgan uch nusxada tuzildi. 
        </p>
         
        <table style="width:537.0pt;border-collapse:collapse;border:none;text-align :center; margin-left:auto;margin-right:auto;">
            <tbody>
                <tr>
                    <td style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>
                        <strong>Ijarachi: </strong> salom
                    </td>
                    <td style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>
                        salom
                    </td>
                </tr>

                <tr>
                    <td style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>
                        salom
                    </td>
                    <td style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>
                        salom
                    </td>
                </tr>

                <tr>
                    <td style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>
                        salom
                    </td>
                    <td style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>
                        salom
                    </td>
                </tr>

                <tr>
                    <td style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>
                        salom
                    </td>
                    <td style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>
                        salom
                    </td>
                </tr>

                <tr>
                    <td style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>
                        salom
                    </td>
                    <td style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>
                        salom
                    </td>
                </tr>

                <tr>
                    <td style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>
                        salom
                    </td>
                    <td style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>
                        salom
                    </td>
                </tr>
            </tbody>
        </table>
        

    </div>
</body>
</html>