{{data}}
<hr>
<li><a class="dropdown-item" href="{% url 'logout' %}">Chiqish </a></li>
<hr>

<a href="{% url 'superadmin_qoshish' %}">super admin qo`shish</a>
<br>
<a href="{% url 'dekanatadmin_qoshish' %}">dekanat admin qo`shish</a>

<hr>
<a href="{% url 'barcha_arizalar' %}">Barcha arizalar</a>
<br>
<a href="{% url 'tasdiqlangan' %}">Tasdiqlangan arizalar</a>
<br>
<a href="{% url 'radetilgan' %}">Radetilgan arizalar</a>
<br>
<a href="{% url 'radetilgan' %}">Tark etgan talabalar</a>
<hr>
<a href="{% url 'barcha_tolovlar' %}">To`lov qilgan talabalar</a>
<br>
<a href="{% url 'radetilgan' %}">To`lov tasdiqlangan talabalar</a>
